<header>
<nav class="navbar">
    <p>Carzy</p>   
    <div class="nav-right">
        <!-- <a routerLink="/">Carzy</a> -->
        <a routerLink="/">Home</a>
        <a routerLink="/vehicletypes">Vehicle  types </a>
        <a routerLink="/about-us">About Us</a>
        <a routerLink="/contact-us">Contact Us</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/signup">Sign Up</a>
    </div>
</nav>
</header>
<footer>
    <p>&copy; {{ currentYear }} Carzy Rentals. All Rights Reserved.</p>
</footer>  

<router-outlet></router-outlet>