<h1>Reset Your Password</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="password" formControlName="newpassword" placeholder="New Password" required>
  <input type="password" formControlName="confirmpassword" placeholder="Confirm Password" required>
  <small *ngIf="hasPasswordMismatch" style="color: red;">Passwords do not match!</small>
  <div *ngIf="successMessage" style="color:green;">{{successMessage}}</div>
  <div *ngIf="errorMessage" style="color:red;">{{errorMessage}}</div>
  <button type="submit">Reset</button>
</form>